@{
    ViewBag.Title = "Home Page";
}
@using JinStore.Models
@model Product

@{
    List<SelectListItem> PassengerNum = new List<SelectListItem>();
    PassengerNum.Add(new SelectListItem
    {
        Text = "1",
        Value = "1"
    });
    PassengerNum.Add(new SelectListItem
    {
        Text = "2",
        Value = "2"

    });
    PassengerNum.Add(new SelectListItem
    {
        Text = "3",
        Value = "3"
    });
    PassengerNum.Add(new SelectListItem
    {
        Text = "4",
        Value = "4"
    });
    PassengerNum.Add(new SelectListItem
    {
        Text = "5",
        Value = "5"
    });
    PassengerNum.Add(new SelectListItem
    {
        Text = "6",
        Value = "6"
    });
}
<div class="jumbotronCustom">

    <div class="jumbotron container body-content">
        <div ng-controller="TripsController" class="container">
            <div ng-init="getTrips()"></div>
            @using (Html.BeginForm("SearchResult", "Products", FormMethod.Post))
            {
                <h2>Flight Search</h2>
                <div class="form-group input-group-sm">
                    <select ng-model="departureCity" id="origin">
                        <option ng-repeat="city in trips.trips.data.city" value="{{city.code}}">{{city.name}}</option>
                        <option ng-repeat="airport in trips.trips.data.airport" value="{{airport.code}}">{{airport.name}}</option>
                    </select>
                </div>

                <div class="form-group input-group-sm">
                    <select ng-model="arrivalCity" id="destination">
                        <option ng-repeat="city in trips.trips.data.city" value="{{city.code}}">{{city.name}}</option>
                        <option ng-repeat="airport in trips.trips.data.airport" value="{{airport.code}}">{{airport.name}}</option>
                    </select>
                </div>

                <div class="form-group input-group-sm">
                    @Html.LabelFor(model => model.departureTime)
                    @Html.TextBoxFor(model => model.departureTime, new { @class = "form-control datepicker", placeholder = "Enter Departure date here..." })
                    @Html.ValidationMessageFor(model => model.departureTime)
                </div>

                @*<div class="form-group input-group-sm">
                    @Html.LabelFor(model => model.ReturnDate)
                    @Html.TextBoxFor(model => model.ReturnDate, new { @class = "form-control datepicker", placeholder = "Enter Return date here..." })
                    @Html.ValidationMessageFor(model => model.ReturnDate)
                </div>*@

                <div class="form-group input-group-sm">
                    @Html.DropDownListFor(model => model.adultCount, PassengerNum, "-- Select Number of Passenger --")
                </div>
                <input type="submit" value="Submit Order" class="btn btn-primary" />
            }         

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker(); //Initialise any date pickers
        });
    </script>
}
<div class="container body-content">
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

<div class="container body-content">
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:jingangxiao@gmail.com">jingangxiao@gmail.com</a><br />
    </address>
</div>