@model JinStore.Models.Product
@{
    ViewBag.Title = "Index";
}

<h2>Product: @Model.Class @Model.Region</h2>

<dl>
    <dd>Ticket Number:</dd>
    <dv>@Model.TicketID</dv>
    <dd>Class:</dd>
    <dv>@Model.Class</dv>
    <dd>Region:</dd>
    <dv>@Model.Region</dv>
</dl>