@using JinStore.Models
@model Product
@{
    List<SelectListItem> PassengerNum = new List<SelectListItem>();
    PassengerNum.Add(new SelectListItem
    {
        Text = "1",
        Value = "1"
    });
    PassengerNum.Add(new SelectListItem
    {
        Text = "2",
        Value = "2"

    });
    PassengerNum.Add(new SelectListItem
    {
        Text = "3",
        Value = "3"
    });
    PassengerNum.Add(new SelectListItem
    {
        Text = "4",
        Value = "4"
    });
    PassengerNum.Add(new SelectListItem
    {
        Text = "5",
        Value = "5"
    });
    PassengerNum.Add(new SelectListItem
    {
        Text = "6",
        Value = "6"
    });

}
<div ng-controller="TripsController" class="container">
    <div ng-init="getTrips()"></div>
    @using (Html.BeginForm("SearchResult", "Products", FormMethod.Post))
    {
        <h2>Flight Search</h2>
        <div class="form-group input-group-sm">
            <select ng-model="departureCity" id="origin">
                <option ng-repeat="city in trips.trips.data.city" value="{{city.code}}">{{city.name}}</option>
                <option ng-repeat="airport in trips.trips.data.airport" value="{{airport.code}}">{{airport.name}}</option>
            </select>
        </div>

        <div class="form-group input-group-sm">
            <select ng-model="arrivalCity" id="destination">
                <option ng-repeat="city in trips.trips.data.city" value="{{city.code}}">{{city.name}}</option>
                <option ng-repeat="airport in trips.trips.data.airport" value="{{airport.code}}">{{airport.name}}</option>
            </select>
        </div>

        <div class="form-group input-group-sm">
            @Html.LabelFor(model => model.departureTime)
            @Html.TextBoxFor(model => model.departureTime, new { @class = "form-control datepicker", placeholder = "Enter Departure date here..." })
            @Html.ValidationMessageFor(model => model.departureTime)
        </div>

        @*<div class="form-group input-group-sm">
                @Html.LabelFor(model => model.ReturnDate)
                @Html.TextBoxFor(model => model.ReturnDate, new { @class = "form-control datepicker", placeholder = "Enter Return date here..." })
                @Html.ValidationMessageFor(model => model.ReturnDate)
            </div>*@

        <div class="form-group input-group-sm">
            @Html.DropDownListFor(model => model.adultCount, PassengerNum, "-- Select Number of Passenger --")            
        </div>
        <input type="submit" value="Submit Order" class="btn btn-primary" />
    }
    @section scripts{
        <script type="text/javascript">
            $(function () { // will trigger when the document is ready
                $('.datepicker').datepicker(); //Initialise any date pickers
            });
        </script>
    }

    
</div>
