@model JinStore.Models.Cart
 
@{
    ViewBag.Title = "Index";
}

<h2>Cart</h2>
@Model.TicketID
@Model.origin
@Model.destination
@Model.departureTime
@Model.arrivalTime

@Html.ActionLink("Check Out", "Index", "Checkout", new { id = Model.Id }, null)