
<nav class="pull-right">
    <ul class="nav navbar-nav">
        @if (User.Identity.IsAuthenticated)
        {
            <li>
                @Html.ActionLink("My Account", "Index", "Membership")
            </li>
            <li>
                @Html.ActionLink("Logout as " + User.Identity.Name, "Logout", "Membership")
            </li>
            if ((User.IsInRole("Administrator")) || (User.IsInRole("ProductAdministrator")))
            {
                <li>
                    @Html.ActionLink("Manage Products", "Index", "Products")
                </li>
            }
            if (User.IsInRole("Administrator"))
            {
                <li>
                    @Html.ActionLink("Manage Users", "Index", "User")
                </li>
            }
        }
        else
        {
            <li>
                @Html.ActionLink("Login", "Login", "Membership")
            </li>
            <li>
                @Html.ActionLink("Register", "Registration", "Membership")
            </li>
        }
    </ul>
</nav>